<% layout("/layouts/boilerplate") %>
<br>
<div class="row">
    <div class="row offset-1 ">
        <div class="row">
            <div class="row col-10">
                <div class="col-10"> <h3><b><%= listing.title %></b></h3></div>
                <% if(currUser && currUser._id.equals(listing.owner._id)) {%>
                    <div class="col-2 show-actions">
                        <div><a href="/listings/<%= listing._id %>/edit" class="btn btn-success"><i class="fas fa-edit"></i></a></div>
                        <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE" class="offset-1">
                            <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        </form>
                <% } %>
            </div>
            </div>
            <div class="row col-10">
                <div class="row">
                    <div class="card">
                        <img src="<%= listing.image.url%>" alt="" class="card-img-top show-img">
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text mt-3"><i class="fas fa-map-marker-alt"></i> Category : &nbsp; <%= listing.category %></p>
                    <p class="card-text mt-3"><i class="fa-regular fa-user"></i> Owned by : &nbsp; <%= listing.owner.username %></p>
                    <p class="card-text mt-3"><i class="fa-regular fa-file-lines"></i> &nbsp; <%= listing.description %></p>
                    <p class="card-text"> &#8377; &nbsp; <%= listing.price.toLocaleString("en-In")%> / Night </p>
                    <p class="card-text"> <i class="fas fa-map-marker-alt"></i> &nbsp; <%= listing.location%>, <%= listing.country%> </p>
                </div>
            </div>
            <br>
            <% if(currUser) { %>
                <div class="row col-10">
                    <div class="border-top border-bottom border-secondary mt-4">
                        <h5 class="mb-3 mt-3"><b>Leave a Review</b></h5>
                        <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate class="needs-validation">
                            <fieldset class="starability-basic">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="3" checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                            <div class="mb-1">
                                <label for="comment" class="form-label">Comments</label>
                                <textarea name="review[comment]" id="comment" cols="30" rows="2" class="form-control" required></textarea>
                                <div class="invalid-feedback">Please add text</div>
                            </div>
                            <button class="btn btn-dark mb-3 mt-3" type="submit">Add</button>
                        </form>
                    </div>
                </div>
                <% } %>
                <% if(listing.reviews.length > 0) {  %>
                    <div class="row mb-3 mt-3">
                        <h4>All Reviews</h4>
                        <div class="row">
                            <% for(review of listing.reviews) { %>
                                <div class="review-card col-5 mb-3 ">
                                    <div class="card-body">
                                        <h5 class="card-title mt-3">@<%= review.author.username%></h5>
                                        <p class="card-text mt-3"><%= review.comment %></p>
                                            <p class="starability-result" data-rating="<%= review.rating %>"></p>
                                        
                                        </p>
                                        <form class="mb-3 mt-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id%>?_method=DELETE">
                                            <button class="btn btn-dark">Delete</button>
                                        </form>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% }else { %>
                    <% if(currUser) { %>
                    <div class="row">
                        <div class="center">
                            <h6><p class="card-title"><i>Be the first one to leave a review . . . </i></p></h6>
                            <img src="https://b.zmtcdn.com/data/o2_assets/a7c35e5e665dda9d67a279f4f814947f1568208663.png" alt="I don't own the image" height="200rem" width="200rem">
                        </div>
                    </div>
                <% } %>
                <% } %>
        </div>
    </div>
</div>

